/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}


.header{
    background-color: rgb(37, 37, 37);           
    height: 80px;
        
}


a:link, a:visited{
    color: white;
    text-decoration: none;
}

nav *{
    display: inline;
            
}
li{
    float:right;
    padding-right: 25px;
    padding-left: 10px;
    padding-top: 25px;
    padding-bottom: 37px;
    font-weight: 400;

}

nav h1{
    display: inline-block;
    font-weight: 700;
    padding-left: 20px;
    padding-top: 20px;
    
}


.boite{
    background-color: rgb(80, 81, 82);
    float: right;
    padding-left: 15px;
    
    
    
}